.title{
    margin: 25vh 0 8vh;
    text-align:center;
    line-height:3rem;
	letter-spacing:0.1em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--primary);
}

.carousel{
    width:100%;
}
.card{
    position:relative;
    min-height:450px;
}

.card img{
    width:200px;
    height:200px;
    object-fit: contain;
}

.carouselmd{
    display:none;
}

.detailsButton{
    height:40px;
    width:150px;
    background-color: transparent;
    border:none;
    transition:0.5s ease;
    cursor:pointer;
}
.detailsButton h2{
    color:var(--primary);
    transition:0.5s ease;
}
.detailsButton:hover{
    background-color: var(--primary);
}
.detailsButton:hover h2{
    color:var(--background)
}
.productCard,
.detailsCard{
    background-color:white;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition:0.5s ease;
}
.productCard{
    padding: 10px min(35px,4vw);
    transform:rotateY(0deg);
}
.detailsCard{
    padding:0 20px 0;
    transform: rotateY(180deg);
}

.visible .detailsCard{
    transform: rotateY(0deg);
}
.visible .productCard{
    transform:rotateY(180deg);
}
.detailsCard img{
    height:130px;
}


.back{
    position:absolute;
    top:5px;
    left:85%;
    background-color:transparent;
    border:none;
    cursor:pointer;
}
.back span{
    font-size:37px;
    font-weight:bold;
    color:var(--primary);
}



/*----------------------------desktop------------------------------------------------*/





@media screen and (min-width:768px){
    .carousel{
        display:none;
    }
    
    .carouselmd{
        display:block;
        width:100%;
    
    }

    .desktop{
        width:100%;
        display:flex;
        justify-content: space-evenly;
        
    
    }
    .card{
        width:min(300px, 35vw);
        transition:0.5s ease;
        margin:20px 0;
    }
    
     
    
    
    
    .counter button:active{
        background-color:var(--primary);
        color:var(--background);

    }
    .productCard:hover,
    .detailsCard:hover{
        box-shadow:4px 5px 24px 5px rgba(0,0,0,0.48);
    }

    .buttons h2{
        font-size:1.2rem;
        width:80px !important;
    }
    .counter{
        width:80px !important;
    }
    .add{
        width:80px !important;
        transition:0.5s ease;
    }
    .add:hover{
        background-color: var(--primary);
        color:white;
    }
    .add:active{
        background-color:white;
        color:var(--primary);
        transition:0.1s;

    }
    .counter button:hover{
        background-color:var(--primary);
        color:white;
    }
    .counter button:active{
        background-color:white;
        color:var(--primary);
        transition:0.1s;
    }
}




/*-----------------------------counter--------------------------------------------------------*/
.buttons{
    display: flex;
    align-items:center;
    position:relative;
}
.buttons button{
    cursor:pointer;
}
h3.scount{
position:absolute;
top:-15px;
left:15px;
opacity:0.7;
text-decoration:line-through;
font-size:1rem;
}
h2.scount{
    text-decoration: underline;
text-decoration-color: var(--primary);
}

.buttons h2{
    width:max(80px, 26vw);
    text-align: center;
    font-size:1.4rem;
}
.counter{
    height:40px;
    border:none;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:max(80px, 26vw);
}
.counter span{
    color:var(--primary);
    
}
.counter button{
    width:40px;
    border:none;
    background-color:transparent;
    color: var(--primary);
    transition: 0.5s ease;
}

.counter button:active{
    background-color:var(--primary);
    color:white;
    transition:0.1s;
}


.add{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:max(80px, 26vw);
    background-color: transparent;
    color: var(--primary);
    border: solid 2px var(--primary);
    height:40px;
    font-size:1.1rem;
}
.add:active{
    background-color:var(--primary);
    color:white;
    transition:0.1s;
}


