.title{
    margin: 25vh 0 8vh;
    text-align:center;
    line-height:3rem;
	letter-spacing:0.1em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--primary);
}

.carousel{
    width:100%;
}
.card{
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
    padding: 10px min(35px,4vw);
    min-height:450px;
}
.card img{
    width:250px;
    height:250px;
    object-fit: contain;
}

.carouselmd{
    display:none;
}


/*----------------------------desktop------------------------------------------------*/





@media screen and (min-width:768px){
    .carousel{
        display:none;
    }
    
    .carouselmd{
        display:flex;
        width:100%;
    
    }

    .desktop{
        width:100%;
        display:flex;
        justify-content: space-evenly;
    
    }
    .card{
        width:min(300px, 35vw);
        min-height:500px;
        transition: 0.5s ease;
        margin:5vh 0;
    }
    .buttons h2{
        font-size:1.2rem;
        width:80px !important;
    }
    .counter{
        width:80px !important;
    }
    .add{
        width:80px !important;
        transition:0.5s ease;
    }
    
    .add:hover{
        background-color: var(--primary);
        color:var(--background);
    }
    .counter button:active{
        background-color:var(--primary);
        color:var(--background);

    }
    .card:hover{
        box-shadow:4px 5px 24px 5px rgba(0,0,0,0.48);
    }
}




/*-----------------------------counter--------------------------------------------------------*/
.buttons{
    display: flex;
    align-items:center;
    position:relative;
}
.buttons button{
    cursor:pointer;
}
h3.scount{
position:absolute;
top:-15px;
left:15px;
opacity:0.7;
text-decoration:line-through;
font-size:1rem;
}
h2.scount{
    text-decoration: underline;
text-decoration-color: var(--primary);
}

.buttons h2{
    width:max(80px, 26vw);
    text-align: center;
    font-size:1.4rem;
}
.counter{
    height:40px;
    border: 2px solid var(--primary);
    border-right:none;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:max(80px, 26vw);
}
.counter span{
    color:var(--primary);
    
}
.counter button{
    width:40px;
    border:none;
    background-color:transparent;
    color: var(--primary);
    
}
.add{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:max(80px, 26vw);
    background-color: transparent;
    color: var(--primary);
    border: solid 2px var(--primary);
    height:40px;
    font-size:1.1rem;
    
}

