.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    transition:0.4s ease;
    background-color: var(--light);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:5vw;
    padding-right:5vw;
    z-index: 499;
    
}

.navbar a{
    color:var(--background);
    text-decoration: none;
    transition:0.5s ease-in-out;
    margin:0 3vw 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
.navbar a:hover{
    transform:scale(1.3)
  }
.navbar.extended{
    height:90px;
}
.navbar.reduced{
    height:60px;
}
.navbar img{
    transition:0.5s ease;
}
.navbar.reduced img{
    transform: scale(0.8);
}

.logo{
    color:var(--background);
    font-size:2rem;
}

.burger-menu {
    height: 26px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }
  .burger-bar {
    width: 30px;
    height: 5px;
    background-color: var(--background);
    border-radius: 0.5em;
  }
  .burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0, 15px);
    transition: ease-out 0.5s;
  }
  
  .burger-bar.clicked:nth-child(2){
    transform: scale(0.01);
    transition: ease-out 0.5s;
  }
  
  .burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(0, 15px);
    transition: ease-out 0.5s;
  }
  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }

.menu{
    position:fixed;
    width: 65vw;
    margin: 5% auto;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary);
    border-radius:15px;
    z-index:1000;
}

.menu.visible{
    top: 120px;
    transition:0.5s ease;
}
.menu.hidden{
    top:200vh;
    transition:0.5s ease;
}
.menu.hidden li{
    margin-top:100px;
    transition:0.8s ease;
}
.menu.visible li{
    margin-top:0;
    transition:0.8s ease;
}
.menu li{
    color:var(--background);
    font-size:1.2em;
    padding:15px;
    cursor:pointer;
    list-style-type: none;
}
.sections{
    display:none;
}

.navbar span{
    position:absolute;
    top:10px;
    left:-43px;
    color:var(--background);
   font-size:35px;
   cursor: pointer;
   transition:0.5s ease;
}

.navbar span.activated{
    transform:rotate(360deg);
    text-shadow: 0 0 10px var(--background), 0 0 20px var(--background), 0 0 30px var(--background), 0 0 40px var(--background);
}
.logoContainer{
    position:relative;
}
.counter{
    position:absolute;
    padding-top:3px;
    top:14px;
    left:-67px;
    width:25px;
    height:25px;
    background-color:var(--light);
    color:var(--background);
    border:var(--background) 2px solid;
    border-radius:50%;
    text-align: center;
    z-index:498;
}

.cart{
    
    position:fixed;
    margin: 5% auto;
    top:50%;
    transform:translateY(-50%);
    left:0;
    right:min(-150vw,-800px);
    background-color:var(--primary);
    width:300px;
    min-height:200px;
    z-index:500;
    border-radius:5px;
    transition:0.5s ease;
}

.cart.visible{
    right:0;
}
.overlay{
    display:none;
}
.overlay.visible{
    display:block;
    position:fixed;
    z-index:499;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/*-----------------------------------desktop------------------------------------------*/
@media screen and (min-width:768px){
    .burger-menu{
        display:none !important;
    }
    .navbar{
        gap:12vw;
    }
   
    
    .sections{
        display:flex !important;
        flex-grow: 2;
        justify-content:space-between;
        color:var(--background);
    }
    .cart{
    margin: 0;
    left:initial;
    }
    .cart.visible{
        left:initial;
        right:60px !important;
        margin:0;
    }

}